@(models: List[net.scalax.simple.wire.model.Cat])(dataA: List[net.scalax.simple.wire.model.Cat], dataB: List[net.scalax.simple.wire.model.Cat])
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>wire example</title>
</head>

<body>
<h3>Data Sum</h3>
<p>====</p>
@for(m <- models) {
    <p>id: @{m.id} & name :@{m.name} & age :@{m.age}</p>
}
<h3>Data A</h3>
<p>====</p>
@for(m <- dataA) {
<p>id: @{m.id} & name :@{m.name} & age :@{m.age}</p>
}
<h3>Data B</h3>
<p>====</p>
@for(m <- dataB) {
<p>id: @{m.id} & name :@{m.name} & age :@{m.age}</p>
}
</body>

</html>
